/* To remove the horisontal navbar */
body{
    overflow-x:hidden;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    padding: 7px 14px;
}

/* To keep logo at correct size */
.image {
    flex: 1;
    width: 60px;
    height: 60px;
    resizeMode: 'contain'
}
/* To keep picture of ourselves same size */
.img-responsive {
    width: 100%;
}

dynPlot{
    width: 300px !important;
}

h1 {
    color: #00509e !important;
}

navbarMaster {
    height: 75px !important;
}